## Data Loading and Understanding

In [1]:
#Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Load dataset
from google.colab import files
uploaded = files.upload()

Saving credit-card-default.csv to credit-card-default.csv

In [4]:
# Dataset is now stored in a Pandas Dataframe
import io
df = pd.read_csv(io.BytesIO(uploaded["credit-card-default.csv"]))

In [5]:
# Getting first five rows
# defaulted - dependent variable
df.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  defaulted
0   1      20000    2          2  ...         0         0         0          1
1   2     120000    2          2  ...      1000         0      2000          1
2   3      90000    2          2  ...      1000      1000      5000          0
3   4      50000    2          2  ...      1100      1069      1000          0
4   5      50000    1          2  ...      9000       689       679          0

[5 rows x 25 columns]

In [6]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         30000 non-null  int64
 1   LIMIT_BAL  30000 non-null  int64
 2   SEX        30000 non-null  int64
 3   EDUCATION  30000 non-null  int64
 4   MARRIAGE   30000 non-null  int64
 5   AGE        30000 non-null  int64
 6   PAY_0      30000 non-null  int64
 7   PAY_2      30000 non-null  int64
 8   PAY_3      30000 non-null  int64
 9   PAY_4      30000 non-null  int64
 10  PAY_5      30000 non-null  int64
 11  PAY_6      30000 non-null  int64
 12  BILL_AMT1  30000 non-null  int64
 13  BILL_AMT2  30000 non-null  int64
 14  BILL_AMT3  30000 non-null  int64
 15  BILL_AMT4  30000 non-null  int64
 16  BILL_AMT5  30000 non-null  int64
 17  BILL_AMT6  30000 non-null  int64
 18  PAY_AMT1   30000 non-null  int64
 19  PAY_AMT2   30000 non-null  int64
 20  PAY_AMT3   30000 non-null  int64
 21  PAY_AMT4   30000 non-null  int64
 22  PAY_AMT5   30000 non-null  int64
 23  PAY_AMT6   30000 non-null  int64
 24  defaulted  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [7]:
# Check NaN values
df.isnull().sum()

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
defaulted    0
dtype: int64

In [8]:
# Statistical summary of the dataset
# there is no missing data or noise to clear.
df.describe().T

             count           mean  ...        75%        max
ID         30000.0   15000.500000  ...   22500.25    30000.0
LIMIT_BAL  30000.0  167484.322667  ...  240000.00  1000000.0
SEX        30000.0       1.603733  ...       2.00        2.0
EDUCATION  30000.0       1.853133  ...       2.00        6.0
MARRIAGE   30000.0       1.551867  ...       2.00        3.0
AGE        30000.0      35.485500  ...      41.00       79.0
PAY_0      30000.0      -0.016700  ...       0.00        8.0
PAY_2      30000.0      -0.133767  ...       0.00        8.0
PAY_3      30000.0      -0.166200  ...       0.00        8.0
PAY_4      30000.0      -0.220667  ...       0.00        8.0
PAY_5      30000.0      -0.266200  ...       0.00        8.0
PAY_6      30000.0      -0.291100  ...       0.00        8.0
BILL_AMT1  30000.0   51223.330900  ...   67091.00   964511.0
BILL_AMT2  30000.0   49179.075167  ...   64006.25   983931.0
BILL_AMT3  30000.0   47013.154800  ...   60164.75  1664089.0
BILL_AMT4  30000.0   43262.948967  ...   54506.00   891586.0
BILL_AMT5  30000.0   40311.400967  ...   50190.50   927171.0
BILL_AMT6  30000.0   38871.760400  ...   49198.25   961664.0
PAY_AMT1   30000.0    5663.580500  ...    5006.00   873552.0
PAY_AMT2   30000.0    5921.163500  ...    5000.00  1684259.0
PAY_AMT3   30000.0    5225.681500  ...    4505.00   896040.0
PAY_AMT4   30000.0    4826.076867  ...    4013.25   621000.0
PAY_AMT5   30000.0    4799.387633  ...    4031.50   426529.0
PAY_AMT6   30000.0    5215.502567  ...    4000.00   528666.0
defaulted  30000.0       0.221200  ...       0.00        1.0

[25 rows x 8 columns]

## Split data into X and y

In [9]:
from sklearn.model_selection import train_test_split

# Let's assign all columns to X except the dependent variable.
X = df.drop("defaulted",axis=1)

# Assign the dependent variable to y
y = df["defaulted"]

# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)

## Default Hyperparameters
Create a model with default hyperparameters

In [10]:
# Importing random forest classifier from sklearn library
from sklearn.ensemble import RandomForestClassifier

# Running the random forest with default parameters.
rfc = RandomForestClassifier()

In [11]:
# fit the model
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
# predict
predictions = rfc.predict(X_test)

In [13]:
# Import classification evaluation metrics
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

In [14]:
# metrics
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      6927
           1       0.68      0.38      0.49      2073

    accuracy                           0.82      9000
   macro avg       0.76      0.66      0.69      9000
weighted avg       0.80      0.82      0.80      9000

In [15]:
# confusion matrix
print(confusion_matrix(y_test,predictions))

[[6553  374]
 [1285  788]]

In [16]:
# Accuracy score
print(accuracy_score(y_test,predictions))

0.8156666666666667

## Hyperparameters Tuning

In [17]:
# Import optimization tools
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [40]:
# Setting parameters
param_grid = {
    "max_depth": [2,6,12],
    "min_samples_leaf": range(100, 400, 150),
    "min_samples_split": range(200, 500, 150),
    "n_estimators": [100,400,500], 
    "max_features": [5, 15, 20]
}

# RandomForest
rf = RandomForestClassifier()

# Optimization
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 2, n_jobs = -1,verbose = 1)

In [41]:
# Fit the model with tuned hyperparameters
grid_search.fit(X_train, y_train)

Fitting 2 folds for each of 108 candidates, totalling 216 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed: 20.2min
[Parallel(n_jobs=-1)]: Done 216 out of 216 | elapsed: 24.9min finished

GridSearchCV(cv=2, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'max_depth': [2, 6, 12], 'max_features': [5, 15, 20],
                         'min_samples_leaf': range(100, 400, 150),
                         'min_samples_split': range(200, 500, 150),
                         'n_estimators': [100, 400, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [42]:
# Determining the best parameters with Grid Search
print("We can get accuracy of",grid_search.best_score_,"using",grid_search.best_params_)

We can get accuracy of 0.8219047619047619 using {'max_depth': 12, 'max_features': 20, 'min_samples_leaf': 100, 'min_samples_split': 200, 'n_estimators': 400}

## Rebuilding the model with the most optimal hyper parameters

In [43]:
# model with the best hyperparameters
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(bootstrap=True,
                             max_depth=12,
                             min_samples_leaf=100, 
                             min_samples_split=200,
                             max_features=20,
                             n_estimators=400)

In [44]:
# Fit
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=12, max_features=20,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=100, min_samples_split=200,
                       min_weight_fraction_leaf=0.0, n_estimators=400,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [45]:
# predict
predictions = rfc.predict(X_test)

## Evaluation

In [46]:
# Metrics
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.83      0.96      0.89      6927
           1       0.70      0.36      0.47      2073

    accuracy                           0.82      9000
   macro avg       0.77      0.66      0.68      9000
weighted avg       0.80      0.82      0.79      9000

In [47]:
# Confusion matrix
print(confusion_matrix(y_test,predictions))

[[6616  311]
 [1335  738]]

In [48]:
# Accuracy score
print(accuracy_score(y_test,predictions))

0.8171111111111111